{{#section 'header'}}
    <title>Sign up</title>
{{/section}}
<div class="card mx-auto" style="max-width: 25rem;">
    <div class="card-header">
        Register Form
    </div>
    <div class="card-body">
        <form action="register" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp">
                <div id="passwordHelp" class="form-text">Your password must be between 8-255 chars.</div>
            </div>
            <div class="mb-3">
                <label for="passwordConfirm" class="form-label">Confirm password</label>
                <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" >
            </div>
            <button type="submit" class="btn btn-primary">Register!</button>
        </form>
    </div>
</div>

{{#if message }}
    <h4 class="alert alert-danger mt-4">{{ message }}</h4>
{{/if}}