{{#section 'header'}}
    <title>Home page</title>
{{/section}}

<section id="main">
    <div class="spacer layer2 "></div>
        <div class="container mt-4">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Lorem ipsum dolor</h1>
                    <p class="col-md-8 fs-4">Duis elit lectus, iaculis pulvinar fringilla a, consectetur vel tortor. Suspendisse potenti. Nullam suscipit consequat tortor, nec luctus sapien aliquet quis. Morbi non tincidunt est. Cras malesuada sed ex eget dignissim. Etiam pellentesque magna fringilla tincidunt pulvinar.</p>
                    <button class="btn btn-primary btn-lg" onclick="location.href='/posts'" type="button">Comment section</button>
                </div>
            </div>
        </div>
    <div class="spacer layer2 flip"></div>
</section>
