{{#section 'header'}}
    <title>Edit a comment</title>
{{/section}}

<section id="posts">
   <div class="text-center">
        <h1 class="display-5 fw-bold">Edit a comment</h1>
   </div>
    <div class="card mx-auto mt-5" style="width: 40rem;">
        <div class="card-header">
            What's in your mind
        </div>
        <div class="card-body">
            <form action="" method="POST">
                <div class="mb-3">
                    <label for="comment" class="form-label">Your comment: </label>
                    <input type="text" class="form-control" id="comment" name="comment" value="{{post.comment}}">
                </div>
                <button type="submit" class="btn btn-primary">Edit!</button>
            </form>
        </div>
    </div>
</section>
