{{#section 'header'}}
    <title>Comment section</title>
{{/section}}

<section id="posts">
   <div class="text-center">
        <h1 class="display-5 fw-bold">Comment section</h1>
        <button type="button" class="btn btn-outline-success" onclick="location.href='posts/add'">Add a comment</button>
   </div>
   <div class="commentSection">
       {{#each comments}}
       <div class="comment mx-auto mt-4" style="max-width: 50rem;">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="leftSide">
                        Quote
                    </div>
                    {{#if this.isMine }}
                    <div class="rightSide">
                        <button class="btn btn-success btn-sm">Editer</button>
                        <button class="btn btn-danger btn-sm">Supprimer</button>
                    </div>
                    {{/if}}
                </div>
                <div class="card-body d-flex justify-content-around">
                    <div class="profilePicture left">
                        <img src="{{this.imagePath}}" alt="">
                    </div>
                    <blockquote class="blockquote mb-0 mt-3" style="width: 30rem;">
                        <p>{{this.post}}</p>
                        <footer class="blockquote-footer">{{this.user}}</footer>
                    </blockquote>
                </div>
            </div>  
       </div>
       {{/each}}
   </div>
</section>
